body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: thistle;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
    background-color: orangered;
}
h2{
    color: rgb(172, 81, 7);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(32, 4, 109);
}
img.PA{
    text-align: center;
}
p{
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}