h1{
    color: crimson;
    font-size: 100pt;
}
#a{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#b{
    font-size: 80pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4cm;
    color: blue;
}
#c{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#d{
    font-size: 80pt;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4cm;
    color: blueviolet;
}
#e{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#f{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#g{
    font-size: 80pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 4cm;
    color: brown;
}
#h{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#i{
    font-size: 80pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4cm;
    color: chocolate;
}
#j{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#k{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#l{
    font-size: 80pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4cm;
    color: darkgray;
}
#m{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#n{
    font-size: 80pt;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4cm;
    color: darkgreen;
}
#ñ{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#o{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#p{
    font-size: 80pt;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 4cm;
    color: darkolivegreen;
}
#q{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#r{
    font-size: 80pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4cm;
    color: deepskyblue;
}
#s{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#t{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#u{
    font-size: 80pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 4cm;
    color: gold;
}
#v{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#w{
    font-size: 80pt;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 4cm;
    color: indianred;
}
#x{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#y{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#z{
    font-size: 80pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4cm;  
    color: indigo;
}
#cc{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
}
#hh{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
#ll{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    color: magenta;
}
#lll{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
    color: magenta;
}
#rr{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
}
#rrr{
    font-size: 80pt;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4cm;
}
